@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>EXPENSE TRACKER </h3>

    <p>Expense Tracker. A brand new application created to track your expense with various input features..</p>
</main>